body {
  margin: 10px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/background.jpg');
  background-size: cover;
  opacity: 1;
  filter: none;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 100px;
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-links {
  position: sticky;
  top: 0;
  line-height: 1;
  z-index: 1000;
  /* Ensures the menu stays on top of other elements */
}

.nav-links a {
  color: white;
  text-decoration: underline;
  font-size: smaller;
}

.title {
  color: #0b232d;
}

.container {
  display: flex;
  justify-content: left; /* Adjusts spacing between boxes */
}

.box {
  width: 100%; /* Adjust width as needed */
}
.content {
  flex: 1; /* This makes the content take up remaining space */
}

.responsive-img {
  width: 100%;
  margin-top: 5px;
}