body {
    display: flex;
}

#tree {
    width: 200px;
    border-right: 1px solid #000;
}

.tree {
    background-image: url('../images/homebackground.jpg');
    color: #efbd06;
}

#content {
    flex-grow: 1;
    padding: 10px;
}

.tree-nav-links {
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensures the menu stays on top of other elements */
}

.tree-nav-links ul {
    padding-left: 20px;
    line-height: 1;

}

/* .tree-nav-links ul li {
    margin-bottom: 5px;
} */

.tree-nav-links a {
    color: white;
    text-decoration: underline;
    font-size: small;
}